# .NET
bin/
obj/
*.user
*.suo
.vs/
artifacts/
TestResults/
*.binlog

# React / Vite / Node
node_modules/
dist/
npm-debug.log*
yarn-error.log

# Environment & secrets
appsettings.*.Local.json
.env
*.local

# IDE
.idea/
*.swp

# OS
Thumbs.db
.DS_Store

# Firebase emulator
firebase-debug.log
firestore-debug.log
